<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
</head>
<body>
<h1>Calculator</h1>
<form action="/calculate" method="post" style="display: inline;">
    <label for="number1">Number 1:</label>
    <input type="text" id="number1" name="number1" th:value="${number1}"><br><br>

    <button id="operation" name="operation" type="submit" formaction="/case" value="+">+</button>
    <button id="operation" name="operation" type="submit" formaction="/case" value="-">-</button>
    <button id="operation" name="operation" type="submit" formaction="/case" value="*">*</button>
    <button id="operation" name="operation" type="submit" formaction="/case" value="/">/</button>
    <br><br>

    <button type="submit">Calculate</button>
</form>

<form action="/clear" method="post" style="display: inline;">
    <button type="submit">AC</button>
</form>

<h2>Result: <span th:text="${result}">0</span></h2>
<p th:if="${error}" th:text="${error}"></p>
</body>
</html>
